.details {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: #FFF;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.details__button {
  @extend .paginator__button;
  margin-bottom: 10px;
  width: 100px;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
}

.details__title {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  background: #272c34;
  color: #FFF;
  padding: 20px;
  border-bottom: 1px solid darkgray;
}

.details__body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 50px;
}

.details__footer {
  padding: 10px;
  text-align: center;
  background: beige;
  
  & a {
    color: inherit;
    cursor: pointer;
  }
}

.details__loading {
  display: inline-block;
  width: 150px;
  height: 18px;
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changewidth {
  from {
    background-color: #ddd;
  }

  to {
    background-color: #eee;
  }
}